@charset "utf-8";
@import "compass/utilities";
@import "compass/css3";
@import "compass/reset";
$icons: sprite-map("icons/*.png",$spacing: 15px);
body{
    position: absolute;
    width:100%;
    height:100%;
    background:#3084CF;
}
.icon{
    display: block;
    background:sprite($icons,pd) no-repeat;
    @include sprite-dimensions($icons,pd);
}