@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font: normal 12px/1 "宋体", serif, arial;
  color: #333;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

input[type="text"], input[type="password"] {
  height: 24px;
  border: 1px #d8d8d8 solid;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  *line-height: 22px;
}

input:focus, select:focus {
  outline: none;
  border: 1px #999 solid;
}

select {
  height: 24px;
  border: 1px #d8d8d8 solid;
}

textarea {
  border: 1px #d8d8d8 solid;
  resize: none;
}

textarea:focus {
  border: 1px #999 solid;
  outline: none;
}

input[type="submit"]:focus, button:focus {
  border: none;
  outline: none;
}

.fl {
  float: left;
  *display: inline;
}

.fr {
  float: right;
  *display: inline;
}

.clearfix, .lprt {
  *zoom: 1;
}
.clearfix:after, .lprt:after {
  content: " ";
  display: table;
  height: 0;
  clear: both;
}

.none {
  display: none;
}

.block {
  display: block;
}

.clear {
  clear: both;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.vt {
  vertical-align: top;
}

.vm {
  vertical-align: middle;
}

.vb {
  vertical-align: bottom;
}

.of {
  overflow: hidden;
}

.lh15 {
  line-height: 1.5;
}

.lh18 {
  line-height: 1.8;
}

.lh20 {
  line-height: 2;
}

.fw {
  font-family: "微软雅黑",arial;
}

.fb {
  font-weight: bold;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.w {
  width: 100%;
}

.w75 {
  width: 75px;
}

.w85 {
  width: 85px;
}

.w90 {
  width: 90px;
}

.w100 {
  width: 100px;
}

.w130 {
  width: 130px;
}

.w150 {
  width: 150px;
}

.w180 {
  width: 180px;
}

.w200 {
  width: 200px;
}

.w240 {
  width: 240px;
}

.w250 {
  width: 250px;
}

.w350 {
  width: 350px;
}

.w380 {
  width: 380px;
}

.w450 {
  width: 450px;
}

.w500 {
  width: 500px;
}

.w600 {
  width: 600px;
}

.w620 {
  width: 620px;
}

.w690 {
  width: 690px;
}

.w1000 {
  width: 1000px;
}

.ptb10 {
  padding: 10px 0;
}

.plr20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pr10 {
  padding-right: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pt20 {
  padding-top: 20px;
}

.mauto {
  margin: 5px auto;
}

.mtb10 {
  margin: 10px 0;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml35 {
  margin-left: 35px;
}

.mr20 {
  margin-right: 20px;
}

.J_edierIndent {
  text-indent: 2em;
}

.red_1 {
  color: #b81c22;
}

.red_2 {
  color: #f14545;
}

.gray_1 {
  color: #333;
}

.gray_2 {
  color: #666;
}

.gray_3 {
  color: #999;
}

.title_18 {
  font: bold 18px/normal "微软雅黑";
}

.title_20, .title_24 {
  color: #333;
}

.title_20 {
  font: bold 20px/1 "微软雅黑";
}

.title_24 {
  font: bold 24px/1 "微软雅黑";
}

.ckx {
  vertical-align: middle;
  margin-top: -1px;
  margin-bottom: 1px;
}

.list_11 .address, .module_10 .textof {
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textarea {
  border: 1px #d8d8d8 solid;
  overflow: hidden;
  padding: 5px;
}
.textarea textarea {
  border: none;
  display: block;
  width: 100%;
  color: #999;
  line-height: 1.8;
}
.textarea textarea:focus {
  color: #666;
}

.icons {
  background: url('../images/icons-sb54baae691.png') 0 -986px no-repeat;
  position: absolute;
}

.tag_1 {
  background: url('../images/icons-sb54baae691.png') 0 -1236px no-repeat;
  height: 12px;
  width: 32px;
}

.tag_2 {
  background: url('../images/icons-sb54baae691.png') 0 -1263px no-repeat;
  height: 12px;
  width: 32px;
}

.tag_3 {
  background: url('../images/icons-sb54baae691.png') 0 -1290px no-repeat;
  height: 12px;
  width: 12px;
}

.tag_4 {
  background: url('../images/icons-sb54baae691.png') 0 -1317px no-repeat;
  height: 12px;
  width: 26px;
}

.tag_5 {
  background: url('../images/icons-sb54baae691.png') 0 -1344px no-repeat;
  height: 12px;
  width: 26px;
}

.tag_6 {
  background: url('../images/icons-sb54baae691.png') 0 -1371px no-repeat;
  height: 12px;
  width: 26px;
}

.tag_7 {
  background: url('../images/icons-sb54baae691.png') 0 -1398px no-repeat;
  height: 12px;
  width: 26px;
}

.pd {
  color: #008000;
  background: url('../images/icons-sb54baae691.png') 0 -779px no-repeat;
  padding-left: 10px;
}

.tri_d_a {
  position: absolute;
  right: -10px;
  top: 5px;
  background: url('../images/icons-sb54baae691.png') 0 -1425px no-repeat;
  height: 4px;
  width: 7px;
}

.tri_d_a.hover {
  background: url('../images/icons-sb54baae691.png') 0 -1589px no-repeat;
  height: 4px;
  width: 7px;
}

.read_more {
  color: #f14545;
  display: block;
  border: 1px #e9e9e9 solid;
  background-color: #f8f8f8;
  line-height: 25px;
  text-align: center;
}

.read_more:hover {
  color: #fb5858;
}

.read_more2 {
  width: 173px;
  height: 28px;
  background-color: #ededed;
  border: 1px #d8d8d8 solid;
  color: #333;
  text-align: center;
  font: normal 12px/28px "宋体";
  margin: 10px auto;
  display: block;
}
.read_more2 i.icons {
  left: 25px;
  top: 13px;
  background-position: 0 -1482px;
  height: 4px;
  width: 7px;
  position: static;
  vertical-align: middle !important;
}

.tag_1, .tag_2, .tag_3, .tag_4, .tag_5, .tag_6, .tag_7, .read_more2 i.icons, .list_3 em, .list_12 h2.title .icons, .list_12 .J_switchAgency .icons, .flag, .module_12 .color a, .J_cityChange, #J_otherLogin, .breadcrumbs > li, .inline-block {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.submit_btn_red, .submit_sm_red, .submit_md_red, .submit_lg_red, .submit_fluid_red {
  border: none;
  background-color: #b81c22;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.submit_btn_red:hover, .submit_sm_red:hover, .submit_md_red:hover, .submit_lg_red:hover, .submit_fluid_red:hover {
  background-color: #dc1f26;
}

.submit_fluid_red2 {
  border: none;
  background-color: #f14545;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.submit_fluid_red2:hover {
  background-color: #fb5858;
}

.submit_lg_red.disabled, .submit_sm_red.disabled, .submit_md_red.disabled, .submit_lg_red.disabled:hover, .submit_sm_red.disabled:hover, .submit_md_red.disabled:hover {
  background-color: #dfdfdf;
  cursor: not-allowed;
}

.submit_s_gray {
  background-color: grey;
  border: none;
  width: 55px;
  height: 26px;
  color: #fff;
  cursor: pointer;
}

.submit_btn_red {
  width: 55px;
  height: 25px;
}

.submit_sm_red {
  width: 105px;
  height: 25px;
}

.submit_md_red {
  width: 78px;
  font: bold 14px/32px "宋体";
}

.submit_lg_red {
  width: 170px;
  height: 35px;
  font: bold 16px/1 "微软雅黑";
}

.submit_fluid_red {
  width: 100%;
  font: normal 18px/32px "微软雅黑";
}

.submit_fluid_red2 {
  width: 100%;
  font: bold 14px/32px "微软雅黑";
}

.submit_sm_red2 {
  width: 105px;
  height: 25px;
  border: none;
  background-color: #f14545;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.submit_sm_red2:hover {
  background-color: #fb5858;
}

.btn_s_red, .btn_s_red2 {
  font: normal 12px/1 "宋体";
  color: #fff !important;
}

.btn_s_red {
  padding: 4px 10px;
  background-color: #b81c22;
}
.btn_s_red:hover {
  background-color: #f14545;
}

.btn_s_red2 {
  padding: 5px 10px;
  background-color: #f14545;
}
.btn_s_red2:hover {
  background-color: #fb5858;
}

.ad_title {
  display: block;
  padding: 5px 0;
  color: #f14545 !important;
  font: normal 16px/2 "微软雅黑";
  text-align: center;
  background-color: #f7f7f7;
  border: 1px #e9e9e9 solid;
}
.ad_title:hover {
  color: #fb5858 !important;
}

.ad_title2 {
  display: block;
  color: #f14545;
  font: bold 16px/2 "微软雅黑";
}
.ad_title2:hover {
  color: #fb5858 !important;
}

.ad_title3 {
  font: bold 18px/1.2 "微软雅黑";
  color: #f14545;
}

/*
    list_1:首页【促销信息】模块，前缀带方块点
*/
.list_1 li {
  background: url('../images/icons-sb54baae691.png') 0 -976px no-repeat;
  padding: 5px 0;
  margin: 5px 0;
  text-indent: 10px;
  clear: both;
}
.list_1 li.first {
  padding: 0;
  padding-bottom: 2px;
  background: none;
  text-indent: 0;
}
.list_1 li.first a.block {
  font-weight: bold;
}
.list_1 .time {
  float: right;
  font-size: 12px;
  color: #999;
}

/*
    list_2:首页【即将上市】模块，前缀带空心圆，时间轴
*/
.list_2 {
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
  border-left: 1px #d0d0d0 solid;
  color: #666;
}
.list_2 li {
  position: relative;
  left: -5px;
  padding: 6px 0 6px 20px;
  background: url(../images/circle.png) no-repeat left center;
}
.list_2 li.hover {
  background: url(../images/circle_a.png) no-repeat left center;
}

/*
    list_3：首页【排行】模块，前三左边框线红色，可两列排版
*/
.list_3 .title {
  font: bold 18px/2 "微软雅黑";
  color: #333;
}
.list_3 li {
  padding-left: 5px;
  line-height: 25px;
  border-left: 4px #a2a2a2 solid;
  clear: both;
}
.list_3 li.hot {
  border-left: 4px #d94a46 solid;
}
.list_3 li.hot em {
  color: #b81c22;
}
.list_3 li a {
  color: #333;
}
.list_3 li a:hover {
  color: #f14545;
}
.list_3 .p0 {
  color: #f14545;
  float: right;
}
.list_3 em {
  vertical-align: middle;
  color: #333;
  font: bold 12px/1 arial;
  padding-right: 15px;
  width: 10px;
}
.list_3 .double {
  height: 150px;
  overflow: hidden;
}
.list_3 .double li {
  width: 45%;
  float: left;
  clear: left;
}
.list_3 .double li.fr {
  float: right;
  clear: right;
  margin-top: -125px;
  margin-bottom: 125px;
  *margin: 0;
}

/*
    list_4：下拉框选择样式，例如【其他方式登录】模块
*/
.list_4 {
  position: absolute;
  left: 0;
  top: 39px;
  z-index: 99;
  width: 90px;
  border: 2px #cdcdcd solid;
  background-color: #fff;
}
.list_4 img {
  vertical-align: middle;
}
.list_4 a {
  display: block;
  border-bottom: 1px #d8d8d8 dashed;
  line-height: 33px;
  padding: 0 5px;
  color: #666;
}
.list_4 a.last {
  border: none;
}
.list_4 a:hover {
  background-color: #eee;
}

/*
    list_5：无样式版，link黑色，hover红色
*/
.list_5 a {
  font: normal 12px/1.8 "宋体";
  color: #666;
}
.list_5 a:hover {
  color: #f14545;
}

/*
    list_6：优惠频道【推荐商家】模块，带认证tag
*/
.list_6 li {
  padding: 5px;
  width: 228px;
  border: 1px #d8d8d8 solid;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.list_6 .thumb {
  float: left;
  margin-right: 10px;
}
.list_6 .box {
  overflow: hidden;
}
.list_6 p.info {
  color: #777;
  line-height: 2;
}
.list_6 img.rz {
  margin-top: 5px;
  float: right;
}
.list_6 a {
  color: #333;
}
.list_6 a:hover {
  color: #f14545;
}

/*
    list_7：【车型频道】-【列表页】黑标文
*/
.list_7 .link {
  display: block;
  font: bold 14px/2 "宋体";
  color: #333;
}
.list_7 .link:hover {
  color: #b81c22;
}
.list_7 .time {
  font: normal 12px/1 "宋体";
  color: #999;
}
.list_7 p {
  font-size: 12px;
  color: #999;
  line-height: 1.5;
}
.list_7 li {
  border-bottom: 1px #d8d8d8 dashed;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

/*
    list_8：【车型频道】-【热门车型比对】
*/
.list_8 li {
  margin-bottom: 10px;
}

.list_8 li a {
  color: #333;
}

.list_8 li a:hover {
  text-decoration: underline;
}

/*
    list_9：【用车频道】-【编辑推荐240*160图】
*/
.list_9 {
  margin-bottom: -10px;
}

.list_9 li {
  float: left;
  font: normal 14px/1.5 "微软雅黑";
  width: 240px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.list_9 li a {
  color: #333;
}
.list_9 li a:hover {
  color: #f14545;
}

.list_10 {
  padding: 19px 15px;
  background-color: #f7f7f7;
}
.list_10 dt {
  border-top: 1px #d8d8d8 solid;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 15px;
}
.list_10 dt.first {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}
.list_10 dt a {
  color: #b81c22;
  font-size: 14px;
}
.list_10 dd a {
  color: #666;
  line-height: 1.5;
}

/*
    list_11：文章页：经销商列表，蓝色气球序号
*/
.list_11 {
  margin-bottom: -20px;
}
.list_11 li {
  color: #666;
  margin-bottom: 20px;
}
.list_11 .link {
  position: relative;
  display: block;
  font: bold 14px/1.5 "宋体";
  color: #333;
}
.list_11 .icons {
  position: absolute;
  left: -25px;
  background-position: 0 -737px;
  height: 27px;
  width: 18px;
  color: #fff;
  text-align: center;
  line-height: 19px;
  font-family: arial;
}
.list_11 div {
  margin-top: 10px;
}
.list_11 .address {
  width: 250px;
}
.list_11 .phone {
  font: bold 12px/1 arial;
  color: #b81c22;
}

/*
    list_12：经销商页，蓝色气球序号
*/
.list_12 li {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.list_12 h2.title {
  position: relative;
  padding: 0 0 10px;
  font: bold 14px/1.5 "宋体";
  border: none;
  background: none;
}
.list_12 h2.title a {
  color: #333;
}
.list_12 h2.title a:hover {
  color: #b81c22;
}
.list_12 h2.title .icons {
  position: static;
  height: 27px;
  width: 18px;
  background-position: 0 -737px;
  color: #fff;
  text-align: center;
  line-height: 19px;
  font-family: arial;
  margin-right: 5px;
}
.list_12 .thumb {
  float: left;
  margin-right: 10px;
  border: 1px #ced5e5 solid;
}
.list_12 .info {
  overflow: hidden;
  font-size: 12px;
}
.list_12 .extend {
  border: 1px #eee solid;
  border-top: none;
  display: block;
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
  color: #b81c22;
}
.list_12 .extend:hover {
  text-decoration: underline;
}
.list_12 .J_switchAgency .icons {
  background-position: 0 -1425px;
  height: 4px;
  width: 7px;
  padding-right: 5px;
  position: static;
  margin-top: 5px;
}
.list_12 .J_switchAgency:hover .icons {
  background-position: 0 -1482px;
}
.list_12 .J_switchAgency.current, .list_12 .J_switchAgency.current:hover {
  color: #b81c22;
}
.list_12 .J_switchAgency.current .icons, .list_12 .J_switchAgency.current:hover .icons {
  background-position: 0 -1646px;
  height: 4px;
  width: 7px;
}

.list_13 {
  font-size: 14px;
  color: #666;
}
.list_13 a {
  color: #666;
}
.list_13 a:hover {
  color: #b81c22;
}
.list_13 li {
  line-height: 2;
}

.flag {
  position: relative;
  padding: 5px;
  font-size: 12px;
  border: 1px #d8d8d8 solid;
  margin-right: 10px;
}
.flag b, .flag em {
  position: absolute;
  top: 5px;
}
.flag em {
  left: -7px;
  color: #d8d8d8;
}
.flag b {
  left: -6px;
  color: #fff;
}

.line {
  background-color: #4b4b4b;
}
.line p {
  width: 120px;
  height: 7px;
  background-color: #b81c22;
}

.module_1 {
  width: 390px;
  border: 1px #d8d8d8 solid;
  border-top: 2px #999 solid;
  border-bottom-width: 2px;
}
.module_1 .result {
  font-weight: bold;
  color: #333;
}
.module_1 .result .red {
  color: #b81c22;
}
.module_1 .title, .module_1 .title2 {
  background-color: #fbfbfb;
  color: #b81c22;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 14px;
}
.module_1 .title2 {
  border-bottom: 1px #d8d8d8 solid;
}
.module_1 .list_1 {
  padding: 15px;
  padding-top: 0;
}
.module_1 .list_1 a {
  color: #666;
  font-size: 14px;
}
.module_1 .list_1 a:hover {
  color: #f14545;
}
.module_1 .ad_title2 {
  margin-top: 15px;
  margin-left: 15px;
}

.module_2 {
  font-size: 14px;
  color: #c6c6c6;
}
.module_2 .ad_title2 {
  font: bold 18px/1 "微软雅黑";
  color: #f14545;
  margin-bottom: 20px;
}
.module_2 .ad_title2:hover {
  color: #fb5858;
}
.module_2.rb {
  border-right: 1px #d8d8d8 solid;
}
.module_2 a, .module_2 .tag {
  color: #3c3c3c;
}
.module_2 a:hover {
  color: #f14545;
}
.module_2 .title {
  font: bold 18px/25px "微软雅黑";
  white-space: nowrap;
  overflow: hidden;
}
.module_2 .cate {
  padding: 2px 6px;
  margin-right: 10px;
  color: #fff;
  font-weight: normal;
  background-color: #f14545;
  border-radius: 2px;
  font-size: 16px;
  line-height: 25px;
}
.module_2 .more {
  float: right;
  font: normal 12px/35px "宋体";
  color: #f14545;
}
.module_2 .switch {
  font: normal 12px/1 "宋体";
  color: #666;
}
.module_2 .tag {
  font: normal 12px/1 "宋体";
  color: #666;
}
.module_2 p {
  line-height: 28px;
}

.module_3 {
  width: 210px;
  font-size: 14px;
}
.module_3 a {
  color: #333;
}
.module_3 a:hover {
  color: #f14545;
}
.module_3 .title {
  font: bold 18px/1.5 "微软雅黑";
  padding-bottom: 8px;
}

.module_4 .list li {
  border-bottom: 1px #d8d8d8 dashed;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.module_4 li {
  margin-bottom: 25px;
}
.module_4 li.last {
  margin-bottom: 0;
}
.module_4 .thumb {
  float: left;
  margin-right: 20px;
}
.module_4 .content {
  overflow: hidden;
}
.module_4 .title {
  color: #333;
  font: bold 16px/1 "微软雅黑";
}
.module_4 .title:hover {
  color: #f14545;
}
.module_4 .time {
  display: block;
  margin-top: 5px;
  line-height: 2;
  color: #999;
}
.module_4 .text {
  line-height: 2;
  color: #666;
}
.module_4 .sum_r, .module_4 .sum_c {
  position: relative;
  float: right;
  color: #999;
  margin-left: 20px;
}
.module_4 .sum_r:hover, .module_4 .sum_c:hover {
  color: #f14545;
}
.module_4 .sum_r i.icons {
  left: -15px;
  top: 7px;
  background-position: 0 -1150px;
  height: 9px;
  width: 12px;
}
.module_4 .sum_c i.icons {
  left: -15px;
  top: 7px;
  background-position: 0 -491px;
  height: 11px;
  width: 12px;
}

.module_5 .more, .module_8 .more {
  float: right;
  font-size: 12px;
  font-family: serif;
  font-weight: normal;
  color: #999;
}

.module_5 {
  width: 340px;
  border: 1px #d8d8d8 solid;
  font-size: 14px;
}
.module_5 .title {
  font: normal 14px/1.5 "微软雅黑";
  background-color: #fbfbfb;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.module_5 .content_1 {
  padding: 15px 20px;
  border-top: 1px #d8d8d8 solid;
  border-bottom: 1px #d8d8d8 solid;
}
.module_5 .content_1 a {
  color: #666;
  line-height: 25px;
}
.module_5 .content_1 a:hover {
  color: #b81c22;
}
.module_5 .content_2 {
  padding: 10px 20px;
  border-top: 1px #d8d8d8 solid;
}
.module_5 .content_2 a {
  color: #666;
}
.module_5 .content_2 a:hover {
  color: #f14545;
}

.module_6 .title {
  font: bold 26px/60px "微软雅黑";
}
.module_6 .title span, .module_6 .title .tag {
  font: normal 14px/1 "宋体";
  color: #999;
}
.module_6 .sub_title {
  font: normal 14px/1 serif;
  color: #666;
}
.module_6 .content {
  border-top: 1px #efefef solid;
}
.module_6 .tab li.first {
  border: none;
}
.module_6 .tab li {
  width: 120px;
  border-top: 1px #efefef solid;
}
.module_6 .tab li a {
  display: block;
  text-indent: 20px;
  background-color: #f7f7f7;
  color: #333;
  font: normal 14px/44px "微软雅黑";
}
.module_6 .tab li.current a {
  border-left: 2px #b81c22 solid;
  background-color: #fff;
  font-weight: bold;
}
.module_6 .market_box {
  float: left;
  width: 620px;
  margin-left: 20px;
}
.module_6 .market_box a {
  color: #333;
}
.module_6 .market_box a:hover, .module_6 .market_box li span {
  color: #b81c22;
}
.module_6 .market_box li {
  padding: 10px 0;
  line-height: 30px;
  border-bottom: 1px #efefef solid;
}
.module_6 .market_box li.last {
  border: none;
}
.module_6 .market_box li span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: right;
  width: 42px;
}
.module_6 .market_box .p1 {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 305px;
}
.module_6 .market_box .p2 {
  background-color: #76b741;
  padding: 2px 15px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  color: #fff;
}
.module_6 .market_box .p3 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 140px;
}
.module_6 .market_box .p2:hover {
  background-color: #83cb48;
  color: #fff;
}

.module_7 {
  height: 390px;
  padding: 14px;
  background-color: #f7f7f7;
}
.module_7 .title {
  font: bold 16px/1 "微软雅黑";
  color: #333;
}
.module_7 input[type=submit] {
  width: 200px;
}

.module_8 {
  font-size: 14px;
  border: 1px #d8d8d8 solid;
}
.module_8 a {
  color: #666;
}
.module_8 a:hover {
  color: #b81c22;
}
.module_8 .title {
  color: #b81c22;
  border-bottom: 1px #d8d8d8 solid;
  font: bold 14px/1.5 "宋体";
  background-color: #fbfbfb;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
.module_8 .tab .sub {
  color: #666;
  font: normal 12px/30px "宋体";
  float: right;
}
.module_8 .tab {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px #d8d8d8 solid;
  background-color: #fcfcfc;
}
.module_8 .tab .more {
  line-height: 30px;
  margin-right: 10px;
}
.module_8 .tab li {
  position: relative;
  float: left;
}
.module_8 .tab li.current {
  top: -1px;
  border-top: 2px #b81c22 solid;
  background-color: #fff;
  height: 31px;
}
.module_8 .tab li.current a {
  line-height: 29px;
  font-weight: bold;
  color: #b81c22;
}
.module_8 .tab li a {
  display: block;
  padding: 0 20px;
  text-align: center;
  border-right: 1px #d8d8d8 solid;
}
.module_8 .red_1 {
  color: #b81c22;
}
.module_8 .J_cityChange {
  font: normal 12px/30px "宋体";
  color: #666;
}
.module_8 .J_cityChange .list_4 {
  top: 29px;
  padding: 0;
}
.module_8 .content {
  padding: 20px 25px;
}
.module_8 .content_2 {
  padding: 12px;
  overflow: hidden;
  margin-bottom: -25px;
}
.module_8 .content_3 {
  padding: 15px 10px;
}
.module_8 .list_1 {
  padding: 5px 10px;
}
.module_8 .list_8 {
  padding: 15px;
  margin-bottom: -10px;
}
.module_8 .module_12 {
  border-bottom: 1px #bcbcbc dotted;
}
.module_8 td {
  padding: 5px 0;
  font-size: 12px;
}

.module_9 {
  width: 360px;
}
.module_9 .title {
  font: bold 20px/1 "微软雅黑";
  margin-bottom: 10px;
}
.module_9 .title i {
  font-family: serif;
  font-weight: normal;
}
.module_9 .list_1 li {
  font-size: 14px;
  color: #999;
}
.module_9 .list_1 li a {
  color: #333;
}
.module_9 .list_1 li .tag {
  color: #666;
}
.module_9 .list_1 a:hover {
  color: #f14545;
}

.module_10 {
  border: 1px #d8d8d8 solid;
  border-top-width: 2px;
}
.module_10 .title {
  position: relative;
  top: -2px;
  font: bold 14px/30px "宋体";
  padding: 0 10px;
  background-color: #f8f8f8;
  border-bottom: 1px #d8d8d8 solid;
  border-top: 2px #b81c22 solid;
}
.module_10 .title a {
  font-weight: normal;
  font-size: 12px;
  color: #666;
}
.module_10 .list_8, .module_10 .box {
  padding: 12px 15px;
}
.module_10 .list_11 {
  padding: 15px 12px 15px 35px;
}
.module_10 .textof {
  width: 96px;
}

.module_11 {
  border: 1px #d8d8d8 solid;
  border-top-width: 2px;
}
.module_11 .title {
  position: relative;
  top: -2px;
  font: bold 14px/30px "宋体";
  padding: 0 10px;
  background-color: #f8f8f8;
  border-bottom: 1px #d8d8d8 solid;
  border-top: 2px #999 solid;
}
.module_11 a {
  color: #666;
}
.module_11 .red_1, .module_11 a:hover {
  color: #b81c22;
}
.module_11 .content {
  padding: 20px 25px;
}

.module_12 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.module_12 dt, .module_12 dd {
  font-size: 12px;
}
.module_12 dt {
  padding: 10px 0;
}
.module_12 dd {
  margin-left: 35px;
  padding: 5px 0;
}
.module_12 .tag {
  padding: 4px;
  font: normal 12px/1 "宋体";
}
.module_12 .tag.current {
  background-color: #f14545;
  color: #fff;
  font-weight: normal;
}
.module_12 a.current {
  font-weight: bold;
}
.module_12 .year {
  float: left;
  padding: 5px 0;
  margin-right: 10px;
  color: #666;
}
.module_12 .style ul {
  padding: 0;
}
.module_12 .style ul li {
  float: left;
  width: 325px;
  padding: 5px 0;
}
.module_12 .color a {
  margin-right: 20px;
  margin-bottom: 10px;
}
.module_12 .color em {
  padding: 0px 6px;
  margin-right: 5px;
  border: 1px #d8d8d8 solid;
}

.table_1 {
  border: 1px #d8d8d8 solid;
  border-top: 2px #999 solid;
  border-collapse: collapse;
}
.table_1 th {
  padding: 5px;
  font: bold 14px/1 "宋体";
}
.table_1 th {
  border: 1px #d8d8d8 solid;
}
.table_1 td {
  padding: 10px;
  font: normal 14px/1 "宋体";
  border-bottom: 1px #d8d8d8 dashed;
}
.table_1 em {
  float: left;
  width: 25px;
  font-family: arial;
  font-weight: bold;
}
.table_1 .red_1 {
  font-size: 12px;
}

.table_2 {
  border: 1px #eee solid;
  border-collapse: collapse;
}
.table_2.bt td {
  border-bottom: 1px #eee solid;
  padding: 15px;
}
.table_2 th {
  border-bottom: 1px #eee solid;
  background-color: #f5f5f5;
  padding: 10px;
  color: #999;
}
.table_2 th.fb {
  color: #333;
}
.table_2 th, .table_2 td {
  padding: 10px;
  font-size: 12px;
}
.table_2 td {
  padding: 20px;
  color: #666;
}
.table_2 a {
  color: #666;
}
.table_2 a:hover {
  color: #b81c22;
}

.mask, .mask2 {
  position: relative;
  display: block;
}
.mask span, .mask2 span {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  color: #fff;
  font-family: "微软雅黑";
}

.mask span {
  background-color: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
  height: 36px;
  line-height: 36px;
  text-indent: 10px;
  font-size: 14px;
}
:root .mask span {
  filter: none;
}

.mask2 {
  position: relative;
  display: block;
}
.mask2 span {
  background-color: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
}
:root .mask2 span {
  filter: none;
}

.nav_1 {
  position: relative;
  border-top: 7px #4b4b4b solid;
  height: 40px;
}
.nav_1 ul {
  height: 33px;
  border-right: 1px #d8d8d8 solid;
  border-left: 1px #d8d8d8 solid;
  border-bottom: 1px #d8d8d8 solid;
  background-color: #fbfbfb;
}
.nav_1 ul li {
  float: left;
}
.nav_1 ul li a {
  position: relative;
  top: -7px;
  display: block;
  width: 100px;
  height: 33px;
  font: normal 16px/33px "微软雅黑";
  text-align: center;
  color: #171e29;
  background-color: #fbfbfb;
  border-top: 7px #4b4b4b solid;
}
.nav_1 li.current a {
  font-weight: bold;
  background-color: #fbfbfb;
  border-top: 7px #b81c22 solid;
}
.nav_1 ul li span {
  display: block;
  border-right: 1px #d8d8d8 solid;
}

.nav_2 {
  border: 1px #d8d8d8 solid;
  border-top: 2px #999 solid;
  height: 30px;
}
.nav_2 li {
  position: relative;
  left: -1px;
  top: -2px;
  float: left;
}
.nav_2 li a {
  display: block;
  padding: 0 25px;
  height: 30px;
  border-right: 1px #d8d8d8 solid;
  color: #333;
  font: bold 14px/30px "微软雅黑";
  margin-top: 2px;
}
.nav_2 li.current, .nav_2 li:hover {
  background-color: #b81c22;
}
.nav_2 li.current a, .nav_2 li:hover a {
  color: #fff;
  border-right: 1px #b81c22 solid;
}

.nav_3 {
  color: #999;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 2px #e9e9e9 solid;
  margin: 10px 0;
}
.nav_3 a {
  color: #333;
  font: normal 16px/1.5 "微软雅黑";
}
.nav_3 a.current {
  font-weight: bold;
}
.nav_3 span.fr {
  color: #666;
  font-size: 12px;
  line-height: 30px;
}

.nav_4 {
  border-bottom: 2px #696969 solid;
}
.nav_4 .name {
  color: #b81c22;
  font: bold 20px/1.5 "微软雅黑";
}
.nav_4 .J_cityChange {
  line-height: 30px;
  margin-top: 5px;
}
.nav_4 .J_cityChange a {
  color: #666;
}
.nav_4 .list_4 {
  top: 30px;
}
.nav_4 a.b_entrance {
  color: #666;
  margin-top: 10px;
  padding: 5px 10px;
}
.nav_4 a.b_entrance:hover, .nav_4 a.b_b_entrance.current {
  background-color: #f14545;
  color: #fff;
}

.nav_5 {
  text-align: center;
  font: bold 14px/1.2 "微软雅黑";
}
.nav_5, .nav_5 a {
  color: #333;
}
.nav_5 a:hover, .nav_5 a.current {
  color: #f14545;
}

.topbar {
  background-color: #ddd;
  height: 40px;
}
.topbar .w1000 {
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
}

.ip_city .current {
  color: #b81c22;
  font-weight: bold;
}
.ip_city a {
  color: #666;
}

.user_info {
  float: right;
  color: #666;
}
.user_info a {
  color: #333;
}
.user_info .other {
  color: #666;
  position: relative;
}
.user_info .list_4 a {
  color: #666;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 20px 0;
  position: relative;
}

.J_cityChange, #J_otherLogin {
  position: relative;
  z-index: 999;
}

.logo {
  display: block;
  background: url('../images/icons-sb54baae691.png') 0 -613px no-repeat;
  height: 55px;
  width: 135px;
  text-indent: -9999em;
}

.nav {
  height: 45px;
  border-top: 4px #b81c22 solid;
  background-color: #171e29;
}
.nav li {
  float: left;
  width: 142px;
}
.nav li.last {
  width: 148px;
}
.nav li a {
  display: block;
  text-align: center;
  color: #fff;
  font: normal 18px/45px "微软雅黑";
}
.nav li a:hover, .nav li a.current {
  background-color: #b81c22;
}

/*===============================================
    页脚
=================================================*/
.footer {
  border-top: 1px #e9e9e9 solid;
  background-color: #f7f7f7;
  padding: 20px 0;
  text-align: center;
  color: #666;
  line-height: 2;
  font-family: Arial;
}

/*===============================================
    面包屑
=================================================*/
.breadcrumbs {
  list-style: none;
}
.breadcrumbs a {
  color: #b81c22;
}

/*===============================================
    分页样式
=================================================*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999;
  cursor: not-allowed;
  background-color: #f7f7f7;
  border-color: #ddd;
}
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #b81c22;
  text-decoration: none;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #b81c22;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #b81c22;
  border-color: #b81c22;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*===============================================
    UI：城市下拉框
=================================================*/
.tab_content .city_context {
  margin: 0;
  width: 100%;
}

.tab_content .province, .tab_content .city, .tab_content .country {
  width: 120px;
}

.city_context {
  width: 200px;
  margin-bottom: 10px;
}

.province {
  width: 92px;
}

.city {
  width: 103px;
}

.province, .city, .country {
  position: relative;
  float: left;
  background-color: #fff;
  border: 1px #d8d8d8 solid;
  background: #fff url(../images/tria.png) no-repeat 95% center;
}

.province.active, .city.active, .country.active, .province:hover, .city:hover, .country.hover {
  background: #fff url(../images/tric.png) no-repeat 95% center;
}

.province .selector_list, .city .selector_list, .country .selector_list {
  width: 100%;
}

.selector_name {
  width: 85%;
  height: 24px;
  display: block;
  line-height: 24px;
  text-indent: 10px;
  overflow: hidden;
  color: #777;
}

.selector_list {
  position: absolute;
  left: -1px;
  top: 24px;
  z-index: 999;
  max-height: 200px;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px #d8d8d8 solid;
  border-top: none;
}

.selector_list li {
  color: #777;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  width: 90%;
}

.selector_list li:hover {
  background-color: #efefef;
  cursor: pointer;
}

/*===============================================
    左图右配置
=================================================*/
.lprt {
  position: relative;
  overflow: hidden;
}
.lprt .red_2 {
  color: #f14545;
}
.lprt .red_2:hover {
  color: #f14545;
  text-decoration: underline;
}
.lprt .thumb {
  border: 1px #d8d8d8 solid;
  padding: 3px;
  float: left;
  margin-right: 10px;
}
.lprt .name {
  font: bold 14px/1.2 "微软雅黑";
  color: #333;
}
.lprt .color a {
  float: left;
  border: 1px #d0d0d0 solid;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-top: 1px;
  background-image: url(../images/color_mb.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.lprt dl.of dd {
  width: 200px;
  float: left;
  line-height: 1.8;
}
.lprt .read_more2 {
  position: absolute;
  right: 0;
  top: 60px;
}
.lprt .read_more2 .icons {
  background-position: 0 -1425px;
}
.lprt .read_more2:hover .icons {
  background-position: 0 -1482px;
}
.lprt .read_more2.current {
  top: 82px;
  border-bottom: none;
  z-index: 10;
  margin: 0;
}
.lprt .read_more2.current .icons {
  background-position: 0 -1589px;
}
.lprt .read_more2.current:hover .icons {
  background-position: 0 -1646px;
}
.lprt table {
  border: 1px #c9caca solid;
}
.lprt table th, .lprt table td {
  padding: 10px;
}
.lprt table th {
  border-bottom: 1px #c9caca solid;
  background-color: #ededed;
  font-weight: bold;
  color: #333;
}
.lprt table td {
  border-bottom: 1px #b2b2b2 dotted;
}
.lprt table a {
  color: #666;
}
.lprt table a:hover {
  color: #b81c22;
}

/*=============================================
    返回顶部
 =============================================*/
.return_top {
  position: fixed;
  left: 50%;
  margin-left: 510px;
  bottom: 40px;
}
.return_top a {
  display: block;
  background-color: #b81c22;
  padding: 10px 15px;
  height: 35px;
  width: 30px;
  color: #fff;
  font: bold 14px/17px "微软雅黑";
  text-align: center;
}
.return_top a:hover {
  background-color: #dc1f26;
}
